@model RestoMVC.Core.Categoria
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>Mercado Simple - Detalle @Model.Nombre</title>
</head>
<body>
    <a asp-controller="Plato" asp-action="FormAlta" asp-route-idCategoria="@Model.Id">Alta Plato</a><br />
    <h5>Categorias</h5>
    <table>
        <thead>
            <tr><td>Nombre</td><td>Acciones</td></tr>
        </thead>
        <tbody>
            @foreach (RestoMVC.Core.Plato plato in Model.Platos)
            {
                <tr>
                    <td>
                        <a asp-controller="Plato" asp-action="Detalle" asp-route-id="@plato.Id">@plato.Nombre</a>
                    </td>
                    <td>
                        <!--Aca tengo que hacer un formulario por que dentro de él,
                        es la unica forma de invocar al método con verbo post-->
                        <form asp-controller="Plato" asp-action="Eliminar" method="post">
                            <input type="hidden" asp-for="@plato.Id" />
                            <button type="submit">Eliminar</button>
                            <a asp-controller="Plato" asp-action="Modificar" asp-route-id="@plato.Id">Modificar</a>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</body>
</html>